header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  background-color: #f2f2f2;
}


.heatmap {
  width: 33%;
  display: inline-block;
  vertical-align: top;
  padding: 1em;
}

.related-topics {
  width: 30%;
}

.document-text {
  width: 40%;
}

.related-documents {
  width: 20%;
}

.related-info {
  background-color: #fff;
  padding: 20px;
  margin-top: 20px;
}

.word-info, .doc-info, .topic-info {
  background-color: #f2f2f2;
  padding: 20px;
  margin: 10px;
}
