.nav-link {
    color: white;
}

h1 {
    text-align: center;
    color: white;
}

.topnav {
    width:100%;
    height: 20%;
    overflow:hidden;
    background-color: #706D6D;
    }
    
    .topnav a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 50%;
    }
    
    .topnav a:hover {
    color: #f6f99e;
    background-color: black;
    transition: 0.3s ease-in-out;
    }

    .topnav a:hover::after{
        content: "";
        width: 30%;
        height: 2px;
        background: #f6f99e;
        /* bottom: -4px; */
        left: 20px;
    }
    